build/*
install/*
log/*
joyride-ros-main.code-workspace
*.db3
*.avi
*.vscode
*.mcap
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/settings.json
src/sensors/urg_node2
src/joyride_perception/joyride_perception/Camera Calibration Data
